.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: 1px solid black
}

.nav-header{
    display: flex;
    margin-top:34px;
    align-items: center;
}

.search-input{
    margin: 2px 2px 0 2px;
}

.food-app-logo {
    width: 200px;
    height: 100px;
}

.login-btn{
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
}

.search-container{
    margin-top: 4px;
    align-items: center;
}

ul>li{
   list-style-type: none; 
   justify-content: space-between;
   margin: 0px 20px;
   font-size: large;
   font-weight: bold;
}

.food-app-logo-container{
    width: 200px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-wrap: wrap-reverse;
   justify-content: space-between;
   border: 1px solid black;
}

.body-container{
    border: 1px solid black;
}

.body-search-container {
    display: flex;
    flex-wrap: wrap;
}

.restro-food-logo{
    width: 200px;
    height: 200px;
}

.restro-container{
    display: flex;
    flex-wrap: wrap;
}

.deliveryLogo{
    height: 12px;
    width: 12px;
    margin-right: 2px;
}

.rating-star-logo{
    height: 13px;
    width: 13px;
    margin-left: 2px;
}

.restro-card{
    margin:5px;
    width: 200px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

.cuisines{
    text-wrap: wrap;
}

.top-rated-btn{
    cursor: pointer;
}

.shimmer-card{
    margin: 25px 0px 0px 5px;
    height: 200px;
    width: 200px;
    background-color: #eeeee4;
}

.shimmer-detail1{
    margin: 5px 0px 5px 5px;
    height: 10px;
    width: 150px;
    background-color: #eeeee4;
}

.shimmer-detail2{
    margin: 5px 0px 5px 5px;
    height: 10px;
    width: 100px;
    background-color: #eeeee4;
}

.shimmer-detail3{
    margin: 5px 0px 5px 5px;
    height: 10px;
    width: 100px;
    background-color: #eeeee4;
}

.shimmer-detail4{
    margin: 5px 0px 5px 5px;
    height: 10px;
    width: 100px;
    background-color: #eeeee4;
}

.shimmer-ui-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}